.buttons-container {
    margin-top: 30px;
    width: 100%;
    height: $icon-size;
}

/*  scroll */
.scroll {
    position: fixed;
    right: 0;
    width: $icon-size;
    height: $icon-size;
    display: block;
    text-align: center;
    line-height: $icon-size;
    color: $french-yellow;
    font-size: 3.5rem;
    text-decoration: none;
    z-index: 1000;
    background: $pastel-green;
    cursor: pointer;
    margin-left: $icon-size/5;
    margin-right: $icon-size/5;
    border-radius: $icon-size*$border-radius;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.25s ease;
        border-radius: $icon-size*$border-radius;
    }

    &.bottom {
        top: 0.75rem;
        right: 0;

        &.material-icons {
            margin-top: $icon-size/20;
        }
    }

    &.top {
        bottom: 0;
        right: 0;
        margin-bottom: 0.75rem;
    }
}

button.scroll.bottom,
button.scroll.top {
    cursor: pointer;
    outline: none;
    border: none;
}

.material-icons {
    // font-size: 4rem;
    position: relative;
    color: $french-yellow;
    font-size: $icon-size;
    margin-top: $icon-size/20;
    transition: all 0.25s ease;
}

.icon-fill {
    &::before {
        transition-duration: 0.5s;
        box-shadow: inset 0 0 0 1px $icon-background;
    }

    &:hover::before {
        box-shadow: inset 0 0 0 $icon-size $icon-background;
    }
}