$light-mint: #c7e9c0;
$light-sky-blue: #99d1e7;
$pastel-green: #31a354;
$light-pink: pink;
$antique-white: antiquewhite;
$french-yellow: #fff100;
$icon-size: 45px;
$border-radius: 0.5;
$icon-font: 2rem;
$icon-size: 2.81rem;
$icon-background: #db056a;
